
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# Directories with big files
preprocess/pre_8450/derepFs_8450.rds
preprocess/pre_8450/derepRs_8450.rds
filtered/
clean_data/taxonomy/sh_general_release_dynamic_s_25.07.2023_dev.fasta
clean_data/taxonomy/sh_general_release_dynamic_s_25.07.2023.fasta
/.quarto/

